<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REC: Regular Expression Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cssCFG/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logoimages/icon.png') }}">
</head>
<body>

    <video class="video-background" autoplay muted loop>
        <source src="{{ url_for('static', filename='videos/background.mp4') }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <div class="back-button" onclick="history.back()">
        <div class="circle">
            <img src="{{ url_for('static', filename='logoimages/backbutton.png') }}" alt="Back Arrow">
            <b class="back">Back</b>
        </div>
    </div>

    <div id="main-container">
        <div class="title-container">
            <h1>Context-Free Grammar (CGF)</h1>
        </div>

        <div class="container">
            <p class="cfg">Context-Free Grammar Convertion</p>

            <p class="given">(aa + bb + aba + ba) (aba + bab + bbb) (a + b)* (a + b + aa + bba + abab) (aa + bb)*</p>

            <table class="convertion">
                <tr><td>S</td> <td>→</td> <td>V W X Y Z</td></tr>
                <tr><td>V</td> <td>→</td> <td>aa | bb | aba | ba</td></tr>
                <tr><td>W</td> <td>→</td> <td>aba | bab | bbb</td></tr>
                <tr><td>X</td> <td>→</td> <td> aX | bX | Λ</td></tr>
                <tr><td>Y</td> <td>→</td> <td>a | b | aa | bba | abab</td></tr>
                <tr><td>Z</td> <td>→</td> <td>aaZ | bbZ | Λ</td></tr>
            </table>
        </div>
    
</body>
</html>